**/.terraform
**/*.tfstate
**/*.tfstate.backup
**/.terragrunt-cache/
**/.terraform-version
**/.terraform.lock.hcl
**/.terraformrc
**/.terraform.d
**/.terraformrc
**/.terraform/
**/.terraform.d/
**/.terraform-version
**/.terraform.lock.hcl
**/.DS_Store
**/secrets-*.txt

**/pycache__
**/__pycache__

dev-artifacts.yaml

**/deployment/charts/*/tmp
**/*-dev-template.yaml
**/*-preprod-template.yaml
**/*-prod-template.yaml
**/generated_helm_charts.yaml
# ignore dependency helm charts
**/charts/*.tgz

# ignore intellij project files
.idea/